
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/assets/server/img/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts from Font Awsome-->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this theme-->
    <link rel="stylesheet" href="/assets/server/css/style.css">
</head>
<body>
{{{body}}}
<!-- Global JS-->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>