
<!-- main content start-->
        <div class="row">
            <div class="col-md-12">

                <p class="lead">
                    <a href="{{adminDir}}/user/" class="btn btn-default btn-sm">用户列表</a>
                </p>

                        <form role="form" action="" method="post" >
                            <div class="form-group">
                                <label for="inputEmail2" >用户名</label>

                                    <input id="inputEmail2" type="text" name="username" placeholder="用户名" class="form-control">

                            </div>
                            <div class="form-group">
                                <label for="inputPassword3">密码</label>

                                    <input id="inputPassword3" type="password" name="password" placeholder="密码" class="form-control">

                            </div>
                            <div class="form-group">
                                <label for="name">姓名</label>

                                    <input id="name" type="text" name="name" placeholder="姓名" class="form-control">

                            </div>
                            <div class="form-group">
                                <label for="inputPassword5" >Email</label>

                                    <input id="inputPassword5" type="email" name="email" placeholder="Email" class="form-control">

                            </div>
                            <input type="hidden" name="_csrf" value="{{token}}">

                            <button type="submit" class="btn btn-default">提交</button>


                        </form>

            </div>
        </div>
<!-- main content end-->
