
<!-- main content start-->
<section class="main-content-wrapper">
    <section id="main-content">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">编辑员工</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="inputEmail2" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-10">
                                    <input id="inputEmail2" type="text" name="username" placeholder="用户名" class="form-control" value="{{user.username}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                    <input id="name" type="text" name="name" placeholder="姓名" class="form-control" value="{{user.name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mobile" class="col-sm-2 control-label">电话</label>
                                <div class="col-sm-10">
                                    <input id="mobile" type="text" name="mobile" placeholder="电话" class="form-control" value="{{user.mobile}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">岗位</label>
                                <div class="col-sm-10">
                                    <select name="level" class="form-control input-sm" data-value="{{user.level}}">
                                        <option value="">无</option>
                                        <option value="7" data-department="公司" {{#compare user.level '==' '7'}}selected{{else}}{{/compare}}  >老板</option>
                                        <option value="6" data-department="总经办部门" {{#compare user.level '==' '6'}}selected{{else}}{{/compare}}>总经办</option>
                                        <option value="5" data-department="总经理部门" {{#compare user.level '==' '5'}}selected{{else}}{{/compare}}>总经理</option>
                                        <option value="4" data-department="大区" {{#compare user.level '==' '4'}}selected{{else}}{{/compare}}>大区经理</option>
                                        <option value="3" data-department="大组" {{#compare user.level '==' '3'}}selected{{else}}{{/compare}}>大组长</option>
                                        <option value="2" data-department="小组" {{#compare user.level '==' '2'}}selected{{else}}{{/compare}}>小组长</option>
                                        <option value="1" {{#compare user.level '==' '1'}}selected{{else}}{{/compare}}>业务员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">隶属部门</label>
                                <div class="col-sm-10">
                                    <select name="department" class="form-control input-sm" data-department="{{user.department}}" >
                                        <option value="">无</option>
                                            {{#each departments}}
                                        <option data-id="{{id}}" value="{{#if parent.parent.parent.parent.parent}}{{parent.parent.parent.parent.parent.id}},{{/if}}{{#if parent.parent.parent.parent}}{{parent.parent.parent.parent.id}},{{/if}}{{#if parent.parent.parent}}{{parent.parent.parent.id}},{{/if}}{{#if parent.parent}}{{parent.parent.id}},{{/if}}{{#if parent}}{{parent.id}},{{/if}}{{id}}" data-level="{{level}}">

                                        {{#if parent.parent.parent.parent.parent}} {{parent.parent.parent.parent.parent.name}}- {{/if}}
                                        {{#if parent.parent.parent.parent}} {{parent.parent.parent.parent.name}}- {{/if}}
                                        {{#if parent.parent.parent}} {{parent.parent.parent.name}}- {{/if}}
                                        {{#if parent.parent}} {{parent.parent.name}}-{{/if}}
                                        {{#if parent}} {{parent.name}}-{{/if}}
                                              {{name}}


                                    </option>
                                            {{/each}}


                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">业务类型</label>
                                <div class="col-sm-10">
                                    <select name="business_type" class="form-control input-sm">
                                        <option value="">无</option>
                                        <option value="银行抵押" {{#compare user.business_type '==' '银行抵押'}}selected{{else}}{{/compare}}>银行抵押</option>
                                        <option value="自由资金" {{#compare user.business_type '==' '自由资金'}}selected{{else}}{{/compare}}>自由资金</option>
                                        <option value="信用贷款" {{#compare user.business_type '==' '信用贷款'}}selected{{else}}{{/compare}}>信用贷款</option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword5" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input id="inputPassword5" type="email" name="email" placeholder="Email" class="form-control" value="{{user.email}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">角色</label>
                                <div class="col-sm-10">
                                  <select multiple name="roles" class="form-control input-sm">
                                      {{#each roles}}
                                             <option value="{{id}}" {{#compare ../user.roles 'contains' id}}selected{{else}}{{/compare}}>{{name}}</option>



                                      {{/each}}
                                  </select>
                                </div>
                            </div>

                            <input type="hidden" name="_csrf" value="{{token}}">
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- main content end-->

<!-- Load these page level functions-->

{{#section 'scripts'}}
<script type="text/javascript">


    $(function() {
//        var messenger;
//        $('form').ajaxForm({
//            beforeSerialize: function() {
//                console.log('beforeSerialize')
//            },
//            beforeSubmit: function() {
//                console.log('beforeSubmit')
//                messenger = Messenger().post("处理中...");
//            },
//            success: function(data, status, xhr, $form) {
//                console.log(data)
//                var status = data.status;
//                if (status) {
//                    messenger.update({
//                        message: '添加成功',
//                        hideAfter: 3,
//                        type: 'success'
//                    });
//                    $form[0].reset();
//                } else {
//                    messenger.update({
//                        message: '添加失败',
//                        hideAfter: 3,
//                        type: 'success'
//                    });
//                }
//            },
//            err: function() {
//                console.log('error')
//                messenger.update({
//                    message: '系统繁忙',
//                    hideAfter: 3,
//                    type: 'success'
//                });
//            }
//        })//end ajaxform


        //部门department
        var departmentArr = $("select[name='department'] option");
        departmentArr.hide();

        var level = $("select[name='level'] option:selected").attr("value");//获取该用户所在的岗位级别
        //console.log(level)
        function departmentInit(level){//在部门select下的option中找到和岗位级别相同的项目，并显示
            var department_level = level;
            department_level == 1 ? department_level=2 : department_level=department_level;//如果是业务员，等级就是2和小组等级相同
            var departments = $("select[name='department'] option[data-level="+department_level+"]");
            //console.log(departments.length)
            if(departments.length>0){
                //console.log('要显示')
                departments.show()
                //console.log('显示完毕')
            }else{
                alert('请至少建立一个父级')
            }
        }
        departmentInit(level);


        var currentUserDepartment ='{{user.department}}';//获取该用户的部门字段
        currentUserDepartment = currentUserDepartment.split(',');//变成数组
        currentUserDepartment = currentUserDepartment[currentUserDepartment.length-1];//找出所属部门ID
        console.log(currentUserDepartment)
        $("select[name='department'] option[data-id="+currentUserDepartment+"]").attr('selected',true);//部门ID 默认选中




        $("select[name='level'] ").change('click',function () {
            departmentArr.hide();
            var level = $(this).find("option:selected").attr("value");
            if(level === '1'){

                if($("select[name='department'] option[data-level='2']").length>0){
                        $("select[name='department'] option[data-level='2']").show()
                }else{
                    alert('请至少创建一个小组')

                }
            }else {
                if($("select[name='department'] option[data-level="+ level +"]").length>0){
                    $("select[name='department'] option[data-level="+ level +"]").show()
                }else{
                    alert('请至少创建一个'+$(this).find("option:selected").attr('data-department'))

                }

            }

        })//变更岗位后联动部门名称
        //提交验证
        $("button[type='submit'] ").on('click',function(){
            if($("input[name='name']").val() ===''){
                alert('请填写员工姓名')
                return false
            }
            else if($("select[name='mobile'] ").val() ===''){
                alert('请填写手机号')
                return false
            }
            else if($("select[name='level'] ").val() ===''){
                alert('请选择岗位')
                return false
            }else if($("select[name='department'] ").val() ===''){
                alert('请选择部门')
                return false
            }else if($("select[name='business_type'] ").val() ===''){
                alert('请选择业务类型')
                return false
            }else if($("select[name='email'] ").val() ===''){
                alert('请填写email')
                return false
            }

        })
    })

</script>
{{/section}}