
<!-- main content start-->
<section class="main-content-wrapper">
    <section id="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="lists"><a href="{{adminDir}}/user/add" class="btn btn-info">添加员工</a>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>用户名 </th>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>岗位</th>
                            <th>部门</th>
                            <th>业务类型</th>
                            <th>角色</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each users}}
                        <tr>
                            <td> <a href="{{../adminDir}}/user/{{id}}" title="{{user.email}}">{{username}}</a></td>
                            <td>{{name}}</td>
                            <td>{{mobile}}</td>
                            <td class="level"><span class="label label-info" data-level="{{level}}"></span></td>
                            <!--<td></td>-->
                            <td>{{#each department}} {{name}} {{/each}}</td>
                            <td>{{business_type}}</td>
                            <td>{{#each roles}}{{name}}{{/each}}</td>
                            <td> <a href="{{../adminDir}}/user/{{id}}/edit" class="btn btn-default btn-xs">编辑</a> <a href="{{../adminDir}}/user/{{id}}/del" class="btn btn-danger btn-xs J_del">删除</a>
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- main content end-->-

<!-- Load these page level functions-->

{{#section 'scripts'}}
<script type="text/javascript">
$(function(){
    $('td.level span').each(function(i,e){
        var level = $(e).attr('data-level'),
            level_txt;

        switch (level)
        {
            case '1':
                level_txt="业务员";
                break;
            case '2':
                level_txt="小组长";
                break;
            case '3':
                level_txt="大组长";
                break;
            case '4':
                level_txt="大区经理";
                break;
            case '5':
                level_txt="总经理";
                break;
            case '6':
                level_txt="总经办";
                break;
            case '7':
                level_txt="老板";
                break;
        }
        $(e).text(level_txt)
    })
})


</script>
{{/section}}