
<div class="htmleaf-container">
    <div class="wrapper">
        <div class="container">
            <form role="form" action="" method="post" class="form">
                <input id="username" type="text" name="username" placeholder="用户名">
                <input id="password" type="password" name="password" placeholder="密码">
                <input type="hidden" name="_csrf" value="{{token}}">
                <button id="login-button" type="submit">登录</button>

                <p class="mgt10">
                    <span class="pdr20"><a href="{{adminDir}}/user/forget">忘记密码</a></span>
                    <span><a href="{{adminDir}}/user/register">还不是用户？注册</a></span>
                </p>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<div class="login_title">
    <h1>FBlog2111后台登陆</h1>
</div>
