extends ../layout-blank

block content
    div.htmleaf-container
        div.wrapper
            div.container
                form.form(role='form', action='', method='post')
                    input#username(type='text', name='username', placeholder='用户名')
                    input#password(type='password', name='password', placeholder='密码')
                    input(type='hidden', name='_csrf', value='#{token}')
                    button#login-button(type='submit') 登录
            ul.bg-bubbles
                     li
                     li
                     li
                     li
                     li
                     li
                     li
                     li
                     li
                     li
     div.login_title
         h1
           | 汉银后台管理系统

block foot-js
    script.
        $(function() {

        })