
    <!-- main content start-->
    <section class="main-content-wrapper">
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="post">
                        <div class="form-group">
                            <label>姓名：</label>
                            <input name="name" class="form-control" value="{{client.name}}">
                        </div>
                        <div class="form-group">
                            <label>电话：</label>
                            <input name="phone_number" class="form-control" value="{{client.phone_number}}">
                        </div>
                        <div class="form-group">
                            <label>来源：</label>
                            <label class="radio-inline">
                                <input type="radio" name="from" data-value ={{client.from}} id="inlineRadio1" value="0" > 面销
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="from" data-value ={{client.from}} id="inlineRadio2" value="1" > 电销
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="from" data-value ={{client.from}} id="inlineRadio3" value="2" > 寿险
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="from" data-value ={{client.from}} id="inlineRadio4" value="3" > 金融公司
                            </label>

                        </div>
                        <div class="form-group">
                            <label>符合的条件：</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="matched_condition" data-value ={{client.matched_condition}} id="condition1" value="0"> 银行抵押
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="matched_condition" data-value ={{client.matched_condition}} id="condition2" value="1"> 自由资金
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="matched_condition" data-value ={{client.matched_condition}} id="condition3" value="2"> 信用贷款
                            </label>
                        </div>

                        <div class="form-group bank-group hide">
                            <label>信用贷款符合银行：</label>
                            {{#each banks}}
                            <label class="checkbox-inline">
                                <input type="checkbox" name="bank" id="bank{{id}}" data-value ={{name}} value="{{id}}" {{#compare ../client.bank 'contains' id}}checked{{else}}{{/compare}}> {{name}}
                            </label>
                            {{/each}}
                        </div>

                        <div class="form-group">
                            <label>负责人：</label>
                                <select name="responsible" class="form-control input-sm" data-value="{{client.responsible}}">
                                  {{#each users}}
                                    <option value="{{id}}" data-value="{{selected}}">{{name}}</option>
                                    {{/each}}
                                </select>
                        </div>
                        <div class="form-group">
                            <label>备注：</label>
                            <textarea name="remarks" rows="8" class="form-control">{{client.remarks}}</textarea>
                        </div>
                        <input type="hidden" name="_csrf" value="{{token}}">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
    <!-- main content end-->

<!-- Load these page level functions-->

    {{#section 'scripts'}}
    <script type="text/javascript">
    $(function(){
        $("input[name='from']").each(function(i,e){
            if($(e).attr("data-value")===$(e).val()){
                $(e).attr('checked',true)
            }
        })
        $("input[name='matched_condition']").each(function(i,e){
            if($.inArray($(e).val(),$(e).attr('data-value')) != -1){
                $(e).attr('checked',true)
            }
        })
        $("select[name='responsible'] option").each(function(i,e){
              if($("select[name='responsible']").attr('data-value')===$(e).val()){
                  $(e).attr("selected",true);
              }
        })

        var credit = $('#condition3').prop('checked');
        if(credit){
            $('.bank-group').removeClass('hide');
            $("input[name='bank']").each(function(i,e){
                if($(e).attr('data-value').indexOf($(e).val()) != -1){
                    $(e).attr('checked',true)
                }
            })
        }

        $("#condition3").on('click',function(){
            if($(this).is(':checked')){
                $('.bank-group').removeClass('hide')
            }else{
                $('.bank-group').addClass('hide');
                $('.bank-group input').prop('checked',false)
            }

        })

    })

</script>
    {{/section}}