
    <!-- main content start-->
    <section class="main-content-wrapper">
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">

                    <div class="client-tab">
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a href="#">我的客户</a></li>
                        <li role="presentation"><a href="#">我下属的客户</a></li>
                        <li role="presentation"><a href="#">联合跟进的客户</a></li>
                    </ul>
                    </div>

                    <div class="client-filter-box">

                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <form class="navbar-form navbar-left">
                                        <div class="form-group">
                                            <input type="text" class="search-input" placeholder="搜索客户名称、电话" >
                                            <button type="submit" class="search-btn">搜索</button>
                                        </div>
                                    </form>
                                    <ul class="nav navbar-nav client-menu">
                                        <li class="dropdown">
                                            <a href="#" id="searchFromDate" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">高级筛选 <span class="caret"></span></a>
                                            <div class="dropdown-menu" aria-labelledby="searchFromDate" >

                                                <div class="form-inline" data-stopPropagation="true">
                                                    <form action='{{adminDir}}/client/filter' method="post">
                                                        <div class="filter-item">

                                                            <label class="checkbox-inline" >
                                                                <input type="checkbox" name="dateInterval"><span>选择时间段</span>
                                                            </label>
                                                        </div>
                                                        <div class="filter-item input-daterange input-group hide " id="datepicker">
                                                            <input type="text" class="form-control" name="start" id="qBeginTime" />
                                                            <span class="input-group-addon">至</span>
                                                            <input type="text" class="form-control" name="end" id="qEndTime" />
                                                        </div>

                                                        <div class="filter-item">
                                                            <span>是否分配：</span>
                                                            <select name="assign" class="form-control input-sm">

                                                                <option value="0" data-value="" selected>全部</option>
                                                                <option value="1" data-value="">未分配</option>
                                                                <option value="2" data-value="">已分配</option>

                                                            </select>
                                                        </div>
                                                        <div class="filter-item">
                                                            <span>客户来源：</span>
                                                            <select name="origin" class="form-control input-sm">

                                                                <option value="0" data-value="" selected>全部</option>
                                                                <option value="1" data-value="">面销</option>
                                                                <option value="2" data-value="">电销</option>
                                                                <option value="3" data-value="">寿险</option>
                                                                <option value="4" data-value="">金融公司</option>

                                                            </select>
                                                        </div>
                                                        <div  class="filter-item">
                                                            <label>符合的条件：</label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="matched_condition[]" id="condition1" value="0"> 银行抵押
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="matched_condition[]"  id="condition2" value="1"> 自由资金
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" name="matched_condition[]"  id="condition3" value="2"> 信用贷款
                                                            </label>
                                                        </div>

                                                        <div class="filter-item">
                                                            <input type="hidden" name="_csrf" value="{{token}}">
                                                            <button type="submit" class="btn btn-primary filter-btn">搜索</button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </li>
                                    </ul>
                                    <div class="navbar-right">
                                        <button class="client-add-btn navbar-btn" onclick="javascrtpt:window.location.href='{{adminDir}}/client/add'"><i class="fa fa-plus" style="margin-right: 10px"></i>新增客户</button>
                                    </div>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container-fluid -->
                        </nav>




                        <!--<ul class="nav nav-pills client-menu">-->
                            <!--<li class="dropdown">-->
                                <!--<button id="searchFromDate" href="{{adminDir}}/client/search" class="btn btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">筛选</button>-->
                                <!--<div class="dropdown-menu" aria-labelledby="searchFromDate" >-->

                                    <!--<div class="form-inline" data-stopPropagation="true">-->
                                        <!--<form action='{{adminDir}}/client/filter' method="post">-->
                                            <!--<div class="filter-item">-->

                                                <!--<label class="checkbox-inline" >-->
                                                    <!--<input type="checkbox" name="dateInterval"><span>选择时间段</span>-->
                                                <!--</label>-->
                                            <!--</div>-->
                                            <!--<div class="filter-item input-daterange input-group hide " id="datepicker">-->
                                                <!--<input type="text" class="form-control" name="start" id="qBeginTime" />-->
                                                <!--<span class="input-group-addon">至</span>-->
                                                <!--<input type="text" class="form-control" name="end" id="qEndTime" />-->
                                            <!--</div>-->

                                            <!--<div class="filter-item">-->
                                                <!--<span>是否分配：</span>-->
                                                <!--<select name="assign" class="form-control input-sm">-->

                                                    <!--<option value="0" data-value="" selected>全部</option>-->
                                                    <!--<option value="1" data-value="">未分配</option>-->
                                                    <!--<option value="2" data-value="">已分配</option>-->

                                                <!--</select>-->
                                            <!--</div>-->
                                            <!--<div class="filter-item">-->
                                                <!--<span>客户来源：</span>-->
                                                <!--<select name="origin" class="form-control input-sm">-->

                                                    <!--<option value="0" data-value="" selected>全部</option>-->
                                                    <!--<option value="1" data-value="">面销</option>-->
                                                    <!--<option value="2" data-value="">电销</option>-->
                                                    <!--<option value="3" data-value="">寿险</option>-->
                                                    <!--<option value="4" data-value="">金融公司</option>-->

                                                <!--</select>-->
                                            <!--</div>-->
                                            <!--<div  class="filter-item">-->
                                                <!--<label>符合的条件：</label>-->
                                                <!--<label class="checkbox-inline">-->
                                                    <!--<input type="checkbox" name="matched_condition[]" id="condition1" value="0"> 银行抵押-->
                                                <!--</label>-->
                                                <!--<label class="checkbox-inline">-->
                                                    <!--<input type="checkbox" name="matched_condition[]"  id="condition2" value="1"> 自由资金-->
                                                <!--</label>-->
                                                <!--<label class="checkbox-inline">-->
                                                    <!--<input type="checkbox" name="matched_condition[]"  id="condition3" value="2"> 信用贷款-->
                                                <!--</label>-->
                                            <!--</div>-->

                                            <!--<div class="filter-item">-->
                                                <!--<input type="hidden" name="_csrf" value="{{token}}">-->
                                                <!--<button type="submit" class="btn btn-primary">搜索</button>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    <!--</div>-->

                                <!--</div>-->

                            <!--</li>-->
                        <!--</ul>-->
                    </div>




                    <table class="table table-striped client-table">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>电话</th>
                            <th>来源</th>
                            <th>符合条件</th>
                            <th>信用贷银行</th>
                            <th>负责人</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each clients}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{phone_number}}</td>
                            <td data-value="{{from}}" class="from"></td>
                            <td data-value="{{matched_condition}}" class="matched_condition"></td>
                            <td data-value="{{bank}}" class="bank">{{#if bank}}{{# each bank}} {{name}} {{/each}}{{else}}无{{/if}}</td>
                            <td>{{responsible.name}}</td>
                            <td data-value="{{remarks}}" class="remarks"></td>

                            <td><a href="{{../adminDir}}/client/{{id}}" class="btn btn-info btn-xs">查看</a> <a href="{{../adminDir}}/client/{{id}}/edit" class="btn btn-default btn-xs">编辑</a>&nbsp;<a href="{{../adminDir}}/client/{{id}}/del" class="btn btn-danger btn-xs J_del">删除</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
    <!-- main content end-->
    </section>


<!-- Load these page level functions-->
    {{#section 'scripts'}}
    <script type="text/javascript">
    var token = '{{token}}';
    Messenger.options = {
    extraClasses: 'messenger-fixed messenger-on-bottom messenger-on-right',
    theme: 'flat'
    };
    $(function() {


        $(document).on('click', '.J_del', function(e) {
            e.preventDefault();
            var $this = $(this);
            var url = $this.attr('href');
            var confirm = BootstrapDialog.confirm('<p>确定删除该分类吗</p>', function (result) {
                if(result) { window.location.href = url; }else{ }

            })

        })

        $('.from').each(function(i,e){
            if($(e).attr('data-value')==='0'){
                $(e).text('面销')
            }else if($(e).attr('data-value')==='1'){
                $(e).text('电销')
            }else if($(e).attr('data-value')==='2'){
                $(e).text('寿险')
            }else if($(e).attr('data-value')==='3'){
                $(e).text('金融公司')
            }

        })

        $('.matched_condition').each(function(i,e){
            var arr = $(e).attr('data-value').split(',');
            $.each(arr,function(j,f){
                if(arr[j]==='0'){
                    arr[j]='银行抵押'
                }else if(arr[j]==='1'){
                    arr[j]="自由资金"
                }else if(arr[j]==='2'){
                    arr[j]="信用贷款"
                }
            })
            $(e).text(arr)
        })
        $('.remarks').each(function(i,e){
            if($(e).attr('data-value')){
                $(e).text($(e).attr('data-value').slice(0,8)+'...')
            }

        })
        $('#qBeginTime').datetimepicker({
            todayBtn : "linked",
            format: "yyyy-mm-dd hh:ii",
            minView: "month",
            autoclose : true,
            todayHighlight : true,
            endDate : new Date()
        }).on('changeDate',function(e){
            var startTime = e.date;
            $('#qEndTime').datetimepicker('setStartDate',startTime);
        });
//结束时间：
        $('#qEndTime').datetimepicker({
            todayBtn : "linked",
            format: "yyyy-mm-dd hh:ii",
            minView: "month",
            autoclose : true,
            todayHighlight : true,
            endDate : new Date()
        }).on('changeDate',function(e){
            var endTime = e.date;
            $('#qBeginTime').datetimepicker('setEndDate',endTime);
        });


        //点击下拉表单不隐藏
        $("div.dropdown-menu").on("click", "[data-stopPropagation]", function(e) {
            e.stopPropagation();
        });


        $("input[name='dateInterval']").on('click',function(){
            if($(this).is(':checked')){
                $('#datepicker').removeClass('hide')
            }else{
                $('#datepicker').addClass('hide');
                $('#datepicker input').val('')
            }

        })





    })
    </script>
    {{/section}}
