<div class="row">
    <div class="col-md-12">
        <p class="lead">
            <a href="/admin/message/" class="btn btn-default J_post">留言列表</a>
        </p>
        <div class="lists">
            <p>内容：{{message.content}}</p>
            <p>日期：{{message.created}}</p>
            <p>作者：{{#if message.name}}{{message.name}}{{/if}}
            </p>
        </div>
    </div>
</div>