
    <!-- main content start-->
    <section class="main-content-wrapper">
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <form action="" method="post">
                        <div class="form-group">
                            <label>机构/部门名称：</label>
                            <input name="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>类型：</label>
                            <select name="level" class="form-control input-sm">
                                <option value="">请选择</option>
                                <option style="color:#ddd" value="7" disabled >公司</option>
                                <option style="color:#ddd" value="6" disabled >总经办</option>
                                <option style="color:#ddd" value="5" disabled >市场部</option>
                                <option value="4">大区</option>
                                <option value="3">大组</option>
                                <option value="2">小组</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>上级部门：</label>
                            <select name="parent" class="form-control input-sm">
                                <option value="">请选择</option>
                                {{#each departments}}
                                <option value="{{id}}" data-level="{{level}}">{{parent.name}}-{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <input type="hidden" name="_csrf" value="{{token}}">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </form>
                </div>
            </div>
        </section>
    </section>
    <!-- main content end-->
    <!-- Load these page level functions-->

    {{#section 'scripts'}}
    <script type="text/javascript">
        $(function(){
            var parentArr = $("select[name='parent'] option");
                 parentArr.hide()
            $("select[name='level'] ").change(function(){
                parentArr.hide();
                var level = $("select[name='level'] option:selected").attr("value");
                var parent_level = level;
                     parent_level++;
                var parents = $("select[name='parent'] option[data-level="+parent_level+"]");
                if(parents.length>0){
                    parents.show()
                }else{
                    alert('请至少建立一个父级')
                }

            })
            $("button[type='submit'] ").on('click',function(){
                if($("input[name='name']").val() ===''){
                    alert('请填写部门名称')
                    return false
                } else if($("select[name='level'] ").val() ===''){
                    alert('请选择部门类别')
                    return false
                }else if($("select[name='parent'] ").val() ===''){
                    alert('请选择父级部门')
                    return false
                }
            })
        })

    </script>
    {{/section}}