
    <!-- main content start-->
    <section class="main-content-wrapper">
        <section id="main-content">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>部门名称</th>
                            <th>操作</th>

                        </tr>
                        </thead>
                        <tbody>
                        {{#each departments}}
                        <tr>
                            <td data-id="{{id}}">
                                {{#if parent.parent.parent.parent.parent}} {{parent.parent.parent.parent.parent.name}}>{{/if}}
                                {{#if parent.parent.parent.parent}} {{parent.parent.parent.parent.name}}>{{/if}}
                                {{#if parent.parent.parent}} {{parent.parent.parent.name}}>{{/if}}
                                {{#if parent.parent}} {{parent.parent.name}}>{{/if}}
                                {{#if parent}} {{parent.name}}>{{/if}}
                                {{name}}</td>


                            <td> <a href="{{../adminDir}}/department/{{id}}/edit" class="btn btn-default btn-xs">编辑</a>&nbsp;<a href="{{../adminDir}}/department/{{id}}/del" class="btn btn-danger btn-xs J_del">删除</a></td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </section>
    <!-- main content end-->
    </section>


<!-- Load these page level functions-->
    {{#section 'scripts'}}
    <script type="text/javascript">
    $(function() {




            $(document).on('click', '.J_del', function(e) {
                e.preventDefault();
                var $this = $(this);
                var url = $this.attr('href');
                var confirm = BootstrapDialog.confirm('<p>确定删除该部门吗</p>', function (result) {
                    if(result) { window.location.href = url; }else{ }

                })

            })

    })
    </script>
    {{/section}}
