<section id="error-container">
    <div class="block-error">
        <div class="alert alert-danger">
            <p>{{message}}</p>
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>
        </div>
    </div>
</section>