
<div class="login install">
    <div class="box">
        <h4>后台初始化 </h4>
        <form role="form" action="{{adminDir}}/install" method="post">
            <label>超级管理员</label>
            <input  type="text" name="username" placeholder="请输入管理员用户名" autofocus >
            <hr class="hr15">
            <label>密码</label>
            <input type="password" name="password" placeholder="请输入密码" >
            <hr class="hr15">
            <label>姓名</label>
            <input  type="text" name="name" placeholder="请输入姓名" >
            <hr class="hr15">
            <label>Email</label>
            <input  type="email" name="email" placeholder="请输入Email" >
            <hr class="hr15">
            <input type="hidden" name="_csrf" value="{{token}}">
            <input value="提交" style="width:100%;" type="submit">

        </form>
    </div>

</div>