<div class="row">
    <div class="col-md-12">
        <div class="lists">
            <p>名称：{{tag.name}} </p>
            <p>日期：{{dateFormat tag.created 'yyyy-MM-dd hh:mm:ss'}}</p>
            <p>描述：{{tag.description}}</p>
        </div>
    </div>
</div>